<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> {% block title%}Items Catalog -{% endblock %} </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% block google_script %}
    {% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{url_for('show_catalog')}}">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        </a>
        {% if 'username' not in session %}
            <p class="navbar-text navbar-right">
            <a href="{{url_for('showLogin')}}" class="btn btn-warning btn-sm">Click Here to Login </a></p>
            {% else %}
            <p class="navbar-text navbar-right">
            <a href="{{url_for('disconnect')}}" class="btn btn-warning btn-sm">Logout</a></p>
        {% endif %}
      </div>
    </div>
  </nav>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container">
      <div class="alert alert-success fade in">
          {% for message in messages %}
            <strong>{{ message }}</strong>
          {% endfor %}
      </div>
    </div>
  {% endif%}
  {% endwith%}

  <div class="container">
    {% block content %}
    {%endblock%}
  </div>
</body>

</html>
